<ion-view view-title="Wishlist">
  <ion-nav-buttons side="secondary">
      <a  href="#/tab/edit"><button class="button">
        <i class="icon ion-edit"></i>
      </button></a>
    </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <ion-item style="background-color: #F87AD6">
        <h2 style="width: 100%; text-align: center; color:white;">You're interested in: </h2>
      </ion-item>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="item in wishlist | filter:true" type="item-text-wrap">
        <img ng-src="{{item.thumb}}">
        <h2>{{item.name}}</h2>
        <p>{{item.lastText}}</p>
        <ion-option-button class="button-assertive" ng-click="remove(item)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
