<ion-view view-title="{{offer.store}}">
  <ion-content class="padding">
    <div class="list card" style="margin-top: 0px;">
      <div class="item item-divider">{{offer.itemName}}</div>
      <div class="item item-body">
        <div>
          <img style="width: 100%; height: auto;" ng-src="{{offer.image}}"></img>
        </div>
        <div>
          <p><span style="font-weight: bold; color: #50E3C2; float: left;">${{offer.discountPrice}}</span>
            <span style="text-decoration: line-through;; color: #F87FDB; padding-left: 20px; float: right">${{offer.originalPrice}}</span></p>
        </div>
        <div>
          <p style="width:50%; margin-left: auto; margin-right: auto; text-align:center">
            <i class="icon ion-android-star" ng-show="offer.stars >= 1"></i>
            <i class="icon ion-android-star" ng-show="offer.stars >= 2"></i>
            <i class="icon ion-android-star" ng-show="offer.stars >= 3"></i>
            <i class="icon ion-android-star" ng-show="offer.stars >= 4"></i>
            <i class="icon ion-android-star" ng-show="offer.stars >= 5"></i>
            <i class="icon ion-android-star-half" ng-show="offer.stars % 1 == .5"></i>
          </p>
        </div>
        <div>
          <p style="width:50%; margin-left: auto; margin-right: auto; text-align:center">Deal Ends: {{offer.dealEnds}}</p>
        </div>
        <div>
          <p style="width:80%; margin-left: auto; margin-right: auto; text-align:center"><button class="button button-balanced" style="width: 100%; background-color: #50E3C2; border-color: #50E3C2;" ng-click="showAlert(offer.barcode)">Get Offer</button></p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
